@model Shoping.Data.Entities.City

@{
    ViewData["Title"] = "Detalles";
}
<h1>Detalles</h1>

<div>
    <h4>Ciudad</h4>
    <hr />
    <partial name="_CityDetails" />
</div>
<div>
    <a asp-action="EditCity" asp-route-id="@Model?.Id" class="btn btn-outline-warning ">Editar Ciudad</a> |
    <a asp-action="DetailsState" asp-route-id = "@Model?.State.Id" class="btn btn-outline-success">Regresar</a>
</div>


