@model Shoping.Data.Entities.Category

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>
<flash dismissable="true" /> 
<div>
    <h4>Categoria</h4>
    <hr />
    <partial name="_CategoryDetails" />
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
</div>

